@charset "UTF-8";

.size-change {
  background: #ff0000;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}
.color-change {
  background: #ff0000;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: center;
}
.margin-change_blue {
  background: #0008ff;
  width: 300px;
  height: 300px;
  margin-right: 150px;
}
.margin-change_green {
  background: #22ff00;
  width: 300px;
  height: 300px;
}
.float_area {
  width: 600px;
  margin: 0 auto;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.float_red {
  background: #ff0000;
  width: 300px;
  height: 300px;
  float: left;
}
.float_blue {
  background: #0008ff;
  width: 300px;
  height: 300px;
  float: left;
}
.flex-box_reverse {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex-reverse {
  width: 300px;
  height: 300px;
  position: relative;
}
.red-box {
  background: #ff0000;
}
.blue-box {
  background: #0008ff;
}
.orange-box {
  background: #ff8400;
}
.flex-reverse p {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flex-box_switch {
  display: flex;
  justify-content: center;
}
.flex-switch {
  width: 300px;
  height: 300px;
  position: relative;
}
.green-box {
  background: #00ff51;
}
.yellow-box {
  background: #d4ff00;
}
.pink-box {
  background: #ff00e1;
}
.flex-box_switch p {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flex-box_hidden {
  display: flex;
  justify-content: center;
}
.flex-hidden {
  width: 300px;
  height: 300px;
}
.hidden-red {
  background: #ff0000;
  display: inline-block;
}
.hidden-blue {
  background: #0008ff;
  display: none;
}
.hidden-green {
  background: #00ff51;
  display: inline-block;
}

@media screen and (max-width: 960px) {
  .size-change {
    width: 200px;
    height: 200px;
  }
  .color-change {
    background: #007bff;
  }
  .margin-change_blue {
    margin-right: 50px;
  }
  .float_red {
    float: none;
  }
  .float_blue {
    float: none;
  }
  .flex-box_reverse {
    flex-direction: row-reverse;
  }
  .green-box {
    order: 2;
  }
  .yellow-box {
    order: 3;
  }
  .pink-box {
    order: 1;
  }
  .hidden-red {
    display: none;
  }
  .hidden-blue {
    display: inline-block;
  }
}